################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/PaymentAPI/bin/Debug/net7.0
/PaymentAPI/obj
